/AndroidAPS._2025-12-28_00.log.zip.Demo_Sports_Adaptations.csv
/AndroidAPS._2025-12-28_00.log.zip.Demo_Sports_Adaptations.delta
/AndroidAPS._2025-12-28_00.log.zip.Demo_Sports_Adaptations.log
/AndroidAPS._2025-12-28_00.log.zip.Demo_Sports_Adaptations.txt
/home/dries/Visual_studio_projects/APS-what-if-A3.4.0.0-ai3.2.0/.vscode/launch.json
.vscode/